<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inheritancerpgfinal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Secondload"></activity>
        <activity android:name=".XMonfive" />
        <activity android:name=".XMonfour" />
        <activity android:name=".XMonthree" />
        <activity android:name=".XMontwo" />
        <activity android:name=".XMonone" />
        <activity android:name=".ZArcLight" />
        <activity android:name=".ZBloodMoon" />
        <activity android:name=".ZSworn" />
        <activity android:name=".ZBlossom" />
        <activity android:name=".ZOrders" />
        <activity android:name=".ZChaos" />
        <activity android:name=".ZCosmic" />
        <activity android:name=".ZDarkStar" />
        <activity android:name=".ZNightBringer" />
        <activity android:name=".ZDawnBringer" />
        <activity android:name=".Choosehere" />
        <activity android:name=".Herofillup" />
        <activity android:name=".Monsterfillup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>